.file-upload.custom {
	overflow: hidden;
	display: inline-block;
	position: relative;	
	vertical-align: middle;
	text-align: center;

	/* Cosmetics */
	color: #fff;
	border: 2px solid #2FA2FF;
	background: #6FBEFF;

	/* Nice if your browser can do it */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-shadow: #000 1px 1px 4px;
    }
	
.file-upload.custom:hover { 
	background: #2FA2FF; 
	}

.file-upload.custom.focus { 
	outline: 2px solid yellow;
	}

.file-upload.custom input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 70px;

	/* Loses tab index in webkit if width is set to 0 */
	opacity: 0;
	filter: alpha(opacity=0);
	}

.file-upload.custom strong { 
	font: normal 1.75em arial,sans-serif; 
	}	
	
.file-upload.custom span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;

	/* Adjust button text vertical alignment */
	padding-top: .45em;
	}

/* Adjust the button size */	
.file-upload.custom { height: 3em; }
.file-upload.custom,
.file-upload.custom span {	width: 14em; }	

.file-upload.custom-status {

	}
